:root
{
    --text-color: rgb(255, 255, 255);
    --link-color: rgb(235, 132, 248);
    --link-hover-color: rgb(255, 252, 89);
    --background-color: rgb(0, 11, 22);
    --line-color: rgb(19, 5, 146);
    --key-word-color: rgb(220 156 255);
}

*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html
{
    scroll-behavior:smooth;
}



body
{
    font-family:"Baloo Bhaijaan 2" , 'sans-serif';
    background-color: var(--background-color);
}

a
{
    color:var(--link-color);
    text-decoration: none;
}

hr
{
    width: 80%;
    height: 2px;
    background: linear-gradient(to right, transparent, #4a008d, transparent);
    border: none;
    margin: 60px auto;
}



/* NAVBAR */

nav
{
    display:flex;    
    justify-content:space-between;
    padding:0 50px;
    height: 80px;
    align-items: center;
}

nav .left
{
    font-size:x-large;
    font-weight:600;
    color:var(--text-color);
}

nav .right
{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .right a
{
    color:var(--link-color);
    margin: 0px 10px;
    font-size:large;
    font-weight:600;
    transition:250ms;
}



nav .right a:last-child
{   
    color:rgb(255, 255, 255);
    background-color:rgb(91, 31, 170);
    padding:5px 12px 2px 10px;
    border-radius:10px;
}


nav .right a i
{  
    margin-right:10px;
}

nav .right:hover a
{
   transform: scale(0.9);
}

nav .right a:hover
{
   transform:scale(1.15);
   color:var(--text-color);
}

/* SECTION-1 (INTRO) */

.hero
{
    color:var(--text-color);
    display: flex;
    justify-content:space-between;
    padding: 0 50px;
    margin: 40px 0;
    margin-bottom: 75px;
    align-items: center;
    gap:50px;
}

.hero .text h2
{
    font-size:45px;
}

.hero .text p:nth-child(2)
{
    font-size:18px;
    margin-bottom: 20px;
    color:#2a9ea5;
    font-weight: bold;
    font-family: 'Inconsolata';
}

.hero .text .links
{
    margin:20px 0px;
}

.hero .text .links a
{   
    display: inline-block;
    padding: 5px 20px;
    border: 2px solid var(--link-color);
    border-radius:20px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 250ms;
}

.hero .text .links a > i
{
    padding-right:25px;
}

.hero .text .links a:hover
{
    color:var(--link-hover-color);
    border: 2px solid var(--link-hover-color);
    border-radius:10px;
}



.hero .text
{
    flex:5;
}

.hero .headshot
{
    flex:2;
    display:flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}

.hero .headshot a
{   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    padding:5px 25px;
    align-self: center;
    background-color: #5b1faa;
    border-radius: 30px;;
    border:transparent;
    gap:10px;
    transition: 125ms;
    transform:scale(1);
    color:var(--text-color);
    box-shadow:
    0 0 10px rgba(234, 0, 255, 0.15),
    0 0 20px rgba(234, 0, 255, 0.15),
    0 0 40px rgba(234, 0, 255, 0.15);
}
.hero .headshot a:hover
{
    transform:scale(1.125);
    background-color: rgb(231, 231, 231);
    color:black;
}

.hero .headshot a:active
{
    transform:scale(0.95);
}

.hero .headshot a:hover img
{
    filter: brightness(0) invert(0); /* black */
}

.hero .headshot a span
{
    font-size:large;
    font-weight:bold;
}

.hero .headshot a img
{
    max-width: 35px;
    max-height: 35px;
}

.hero .headshot img
{   
    width:350px;
    border-radius: 100%;
}



/* SKILLS */
.skills
{
    color:var(--text-color);
    padding: 0px 50px;
    margin-bottom: 100px;
    margin-top: 50px;
}

.skills h2
{
    text-align: center;
    font-size: 45px;   
}

.skills .text
{
    text-align: center;
}

.skills h1
{   
    padding-top:50px;
    text-align: center;

}

.skills .main-cells
{   
    display: flex;
    justify-content: center; 
    flex-wrap:wrap;  
}


.skills .main-cells .cell
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px 20px;
    border: 2px solid rgb(0, 66, 141);
    border-radius:30px; 
    margin:10px;
    gap:10px;
}


.skills .main-cells .cell img
{
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.skills .main-cells .cell span
{
    font-size:medium;
}


/* EXPERIENCE */
.Experience
{
    color:var(--text-color);
    padding: 0px 50px;
    margin-bottom: 100px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Experience h2
{
    text-align: center;
    font-size: 45px;   
}

.Experience h2 p
{
    font-size:large;
    font-family: 'Inconsolata';
    font-weight: bold;
    color:#2a9ea5;

}

.Experience > p
{   
    margin-top: 50px;
    font-size:25px;
    padding-right: 100px;
    color:rgba(71, 71, 71, 0.534);
}
.Experience .line-container
{
    display: flex;
    justify-content: center;
    height:15in;
    margin-top: 20px;
    margin-right: 245px;
}
.line{
    width: 2px;
    height: 100%;
    background: rgba(255,0,0,0.3);
    background: linear-gradient(to top, transparent, var(--line-color), transparent);
    
}

.glow{
    background: linear-gradient(to top, transparent, var(--line-color), transparent);
    box-shadow: 
        0 0 10px var(--line-color),
        0 0 20px var(--line-color),
        0 0 40px var(--line-color);
}

.timeline-item{
    position: relative;
    margin-top: 100px;
}

.content-box
{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.content-box h1
{
    font-size:medium;
}

.content-box .comp-desc
{   display: flex;
    justify-content: space-between;
    font-style: italic;
    gap:20px;
    font-size:small;
    margin-top:5px;
}

.comp-content ul{
    padding: 10px 20px;
    font-size:15px;
}

.comp-content ul > li
{
    padding-top:12px;
    padding-bottom:12px;
}

.circle{
    position: absolute;
    left: 50%;
    transform: translateX(-37%);
    
    width: 16px;
    height: 16px;
    border-radius: 50%;

    background: var(--line-color);
    box-shadow: 0 0 10px var(--line-color);
}

.content-box{
    margin-left: 40px;
    width: 300px;
    padding: 20px;

    background: rgba(255,255,255,0.05);
    border-radius: 10px;

    color: white;
}

/* Work Highlights */
.Work-Highlights
{
    color : var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 50px;
    margin-bottom: 120px;
}

.Work-Highlights > h2
{
    font-size:45px;
}

.Work-Highlights > h1
{
    font-size:30px;
    align-self: flex-start;
}

.Work-Highlights .work
{   display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: space-between;
}

.Work-Highlights .work > video
{
    flex:3 3;
    width:37%;
    max-width: fit-content;
    height:fit-content;
    max-height:300px;
    border-radius: 5px;
}

.Work-Highlights .work > iframe
{
    flex:3 3;
    width:37%;
    max-width: fit-content;
    height:fit-content;
    max-height:300px;
    border-radius: 5px;

}


.Work-Highlights .work .work-content
{
    flex:9;
    align-items: center;
}

.competencies
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;

}

.competencies  p
{
    font-weight: bold;
    font-size:medium;
    font-family: 'Inconsolata';
    font-weight: bold;
}

.competencies > div
{
    flex:5;
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}

.competencies img
{
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
    object-fit: contain;
}

.work-hr
{
    width: 100%;
    height: 3px;
    background: linear-gradient(to right,transparent, #dddddd, transparent);
    border: none;
    margin: 60px auto;
    
}

.work-content .Redirection
{   
    font-weight: bold;
    font-size:medium;
    font-family: 'Inconsolata';
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
    margin: 25px 0px;
}
.work-content .Redirection a i
{
    font-size:25px;
    color:var(--link-color);
    transition:125ms;
}

.work-content .Redirection a i:hover
{
    color:var(--link-hover-color);
    transform:scale(1.25);
}



.keywords
{
    color:var(--key-word-color);
    font-weight:bold;
}


.work-buttons
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width:99vw;
    margin-top: 20px;
}

.hidden-text-1
{   
    display: block;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 
        max-height 250ms ease,
        opacity 250ms ease;
}

.hidden-text-2
{   
    display: block;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 
        max-height 250ms ease,
        opacity 250ms ease;
}

.active
{      
    opacity: 1;
}

.show-more-btn-1
{
    padding:5px 15px;
    border-radius:32px;
    border:transparent;
    background-color: var(--link-color) ;
    color:black;
    margin-top: 20px;
    transition:250ms;
}

.show-more-btn-1:hover
{
    padding:7px 20px;
    font-size:large;
    background-color: white
}


.show-more-btn-2
{
    padding:5px 15px;
    border-radius:32px;
    border:transparent;
    background-color: var(--link-color) ;
    color:black;
    margin-top: 20px;
    transition:250ms;
}

.show-more-btn-2:hover
{
    padding:7px 20px;
    font-size:large;
    background-color: white
}


.show-more-btn-1 > span
{
   font-weight: bold;
   font-family:"Baloo Bhaijaan 2" , 'sans-serif';;
}

.show-more-btn-2 > span
{
   font-weight: bold;
   font-family:"Baloo Bhaijaan 2" , 'sans-serif';;
}


/* HIRE ME */
.HireMe
{   display: flex;
    justify-content: center;
    flex-direction: column;
    color:var(--text-color);
    align-items: center;
    margin-bottom: 30px;

}

.HireMe h2
{
    font-size: 45px;

}

.HireMe p
{
    font-size:17px;
    margin:10px 0px;
    padding:0px 50px;
}

.HireMe .column-container
{
    display: flex;
    gap: 120px; 
    padding: 50px;
    flex-wrap: wrap;
    max-width: 1350px;
}

.column
{   
    flex:1 1;
    display: flex;
    flex-direction: column; /* vertical stacking */
    gap: 16px; /* space between heading, desc, bullets */
    border-radius: 25px; /* clean, modern radius */
    background-color: #1a1923; /* optional, helps the radius show */

    border: 1px solid rgba(234, 0, 255, 0.6);

    box-shadow:
        0 0 10px rgba(234, 0, 255, 0.6),
        0 0 20px rgba(234, 0, 255, 0.6),
        0 0 40px rgba(234, 0, 255, 0.6);

    transition:250ms;
}

.column:nth-child(2)
{
    border: 1px solid rgba(255, 0, 140, 0.6);
    box-shadow:
    0 0 10px rgba(255, 0, 140, 0.6),
    0 0 20px rgba(255, 0, 140, 0.6),
    0 0 40px rgba(255, 0, 140, 0.6);
}

.column h2
{
    margin: 0;
    font-size: 32px;
    text-decoration: underline;
    font-weight: 500;
    text-align: center; /* centers heading only */
}

.column p
{
    margin: 0;
    opacity: 0.8;
    padding: 0px 30px;
}

.column ul
{
    margin-bottom: 20px;
    padding-left: 47px;
}

.column a
{   display: flex;
    align-self: center;
    justify-content: center;
    border: 1px solid var(--link-color);
    font-size:20px;
    padding:10px 12px;
    border-radius:32px;
    margin-bottom: 20px;
    background-color: var(--link-color);
    max-height: 50px;
    color:black;
    font-weight: bold;
    transform:scale(1);
    align-items: center;
    transition: 125ms;
    margin-top: auto;

}


.column a p
{
    padding-top: 2px;
    font-size: 19px;;
    text-align: center;
}


.column a:hover
{
    background-color: white;
    border-color: transparent;
    transform: scale(1.125);
}

.column a:active
{
    transform: scale(0.95);
}

/* Footer */
footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: "Baloo Bhaijaan 2", 'sans-serif';;
    text-align: center;
    background-color: var(--background-color);
    height:120px;
}

.footer-hr
{   
    width:99%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, transparent, #ffffff, transparent);
    margin-top: 45px;
}

.navigator
{   
    display: flex;
    justify-content:center;

    flex-wrap: wrap;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%) scale(0);
    width:fit-content;
    background-color: rgb(46, 23, 61);
    padding:10px 20px;
    border-radius:32px;
    font-weight: bold;
    font-size:x-large;
    gap:20px;
    transition:250ms;
}

.navigator.active
{   
    transform: translateX(-50%) scale(1);
}

.navigator:hover a
{
    color:rgb(235, 132, 248 , 1);
}

.navigator a:not(:hover)
{
    /* color:rgb(235, 132, 248 , 0.5); */
    transform: scale(0.95);
}

.navigator a:not(:hover)
{
    transition:500ms;
}
.navigator a:hover
{
    transform:scale(1.125);
}



@media(max-width:980px)
{
        
    .Work-Highlights .work
    {
        flex-direction: column-reverse;
    }
    .Work-Highlights .work .work-content
    {
        flex:1;
    }

    .Work-Highlights .work video
    {
        width:50%;
        align-self: center;
    }
    
    .Work-Highlights .work iframe
    {
        width:50%;
        align-self: center;
    }
}


@media(max-width:768px)
{   
    /* NAVBAR */
    nav
    {
        padding:0px 20px;
    }

    nav .right a
    {
        font-size:25px;
        margin: 0px;
    }


    nav .right a:last-child
    {   
        color:var(--link-color);
        background-color:transparent;
        padding:0;
    }

    nav .right a span
    {
        display:none;
    }
    

    /* HERO */
    .hero
    {
        flex-direction: column-reverse;
    }

    .hero .text h2
    {
        font-size: 35px;
    }

    .hero .headshot img
    {
        width:275px;
    }

    /* WORKS */

    .Work-Highlights .work img
    {
        width:60%;
    }

    .Work-Highlights .work video
    {
        width:80%
    }
    
    .Work-Highlights .work iframe
    {
        width:80%
    }
    
    /* HIRE ME */
    .HireMe .column-container
    {   
        flex-direction: column;
        max-width: 500px;
    }

    .column a p
    {
        font-size: 15px;
    }
}

@media(max-width: 425px)
{   
    /* NAVBAR */
    nav .right a
    {
        font-size:22px;
        margin: 0px;
    }

    /* HERO */
    nav .left
    {
        font-size:19px;
        font-weight:600;
    }

    .hero .headshot img
    {
        width:240px;
    }

    /* SKILLS */
    .skills .main-cells .cell span
    {
        font-size:small;
    }
    
    /* WORKS */
    .Work-Highlights .work img
    {
        width:30%;
    }


    

}

@media(max-width:420px)
{
    .navigator
    {
        padding:10px 10px;
    }
}

@media(max-width:450px)
{   
    /* EXPERIENCE */

    .Experience .line-container
    {
        height:20in;
    }

    .content-box
    {   
        margin-left: 30px;
        width: 230px;
    }

    .content-box .comp-desc{
        font-size:12px;
    }

    /* HIRE ME */

    .HireMe h2
    {
        font-size: 25px;
    }
    .column h2
    {
        font-size:20px;
        padding-top:10px;
    }

    .column p
    {
        font-size:15px;
    }

    .column ul
    {
        font-size:15px;        
    }


}

@media(max-width:350px)
{
    .column a p
    {
        display: none;
    }

    .column a
    {
        border-radius: 50px;
    }


}

@media(max-width:250px)
{   
    .column p
    {
        font-size:10px;
    }

    .column  ul
    {
        font-size:10px;
    }

    .navigator
    {
        padding:10px 5px;
    }

}

