:root
{
    --text-color: rgb(255, 255, 255);
    --link-color: rgb(235, 132, 248);
    --link-hover-color: rgb(255, 252, 89);
    --background-color: rgb(0, 11, 22);
    --line-color: rgb(19, 5, 146);
}

*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html
{
    scroll-behavior:smooth;
}



body
{
    font-family:"Baloo Bhaijaan 2" , 'sans-serif';
    background-color: var(--background-color);
}

a
{
    color:var(--link-color);
    text-decoration: none;
}

hr
{
    width: 80%;
    height: 2px;
    background: linear-gradient(to right, transparent, #4a008d, transparent);
    border: none;
    margin: 60px auto;
}

/* NAVBAR */

nav
{
    display:flex;    
    justify-content:space-between;
    padding:0 50px;
    height: 80px;
    align-items: center;
}

nav .left
{
    font-size:x-large;
    font-weight:600;
    color:var(--text-color);
}

nav .right a
{
    color:var(--link-color);
    margin: 0px 10px;
    font-size:large;
    font-weight:600;

}

nav .right a:last-child
{   
    color:rgb(255, 255, 255);
    background-color:rgb(91, 31, 170);
    padding:5px 12px 2px 10px;
    border-radius:10px;
}


nav .right a i
{  
    margin-right:10px;
}

/* SECTION-1 (INTRO) */

.hero
{
    color:var(--text-color);
    display: flex;
    justify-content:space-between;
    padding: 0 50px;
    margin: 40px 0;
    margin-bottom: 75px;
    align-items: center;
    gap:50px;
}

.hero .text h2
{
    font-size:45px;
}

.hero .text p:nth-child(2)
{
    font-size:18px;
    margin-bottom: 20px;
    color:#2a9ea5;
    font-family: 'Consolas';
}

.hero .text .links
{
    margin:20px 0px;
}

.hero .text .links a
{   
    display: inline-block;
    padding: 5px 20px;
    border: 2px solid var(--link-color);
    border-radius:20px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 250ms;
}

.hero .text .links a > i
{
    padding-right:25px;
}

.hero .text .links a:hover
{
    color:var(--link-hover-color);
    border: 2px solid var(--link-hover-color);
    border-radius:10px;
}



.hero .text
{
    flex:5;
}

.hero .headshot
{
    flex:2;
    display:flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}

.hero .headshot button
{   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    padding:5px 25px;
    align-self: center;
    background-color: #5b1faa;
    border-radius: 30px;;
    border:1.5px solid black;
    gap:10px;
    transition: 250ms;
}

.hero .headshot button span
{
    font-size:large;
    font-weight:bold;
    color:white;
}

.hero .headshot button img
{
    max-width: 35px;
    max-height: 35px;
}

.hero .headshot img
{   
    width:350px;
    border-radius: 100%;
}

.hero .headshot :hover
{
    background-color: #6a1887;
    transition: 250ms;
}


/* SKILLS */
.skills
{
    color:var(--text-color);
    padding: 0px 50px;
    margin-bottom: 100px;
    margin-top: 50px;
}

.skills h2
{
    text-align: center;
    font-size: 45px;   
}

.skills .text
{
    text-align: center;
}

.skills h1
{   
    padding-top:50px;
    text-align: center;

}

.skills .main-cells
{   
    display: flex;
    justify-content: center; 
    flex-wrap:wrap;  
}


.skills .main-cells .cell
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px 20px;
    border: 2px solid rgb(0, 66, 141);
    border-radius:30px; 
    margin:10px;
    gap:10px;
}


.skills .main-cells .cell img
{
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.skills .main-cells .cell span
{
    font-size:medium;
}


/* EXPERIENCE */
.Experience
{
    color:var(--text-color);
    padding: 0px 50px;
    margin-bottom: 100px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Experience h2
{
    text-align: center;
    font-size: 45px;   
}

.Experience h2 p
{
    font-size:large;
    font-family: 'Consolas';
    color:#2a9ea5;

}

.Experience > p
{   
    margin-top: 50px;
    font-size:25px;
    padding-right: 100px;
    color:rgba(71, 71, 71, 0.534);
}
.Experience .line-container
{
    display: flex;
    justify-content: center;
    height:17in;
    margin-top: 20px;
    margin-right: 245px;
}
.line{
    width: 2px;
    height: 100%;
    background: rgba(255,0,0,0.3);
    background: linear-gradient(to top, transparent, var(--line-color), transparent);
    
}

.glow{
    background: linear-gradient(to top, transparent, var(--line-color), transparent);
    box-shadow: 
        0 0 10px var(--line-color),
        0 0 20px var(--line-color),
        0 0 40px var(--line-color);
}

.timeline-item{
    position: relative;
    margin-top: 100px;
}

.content-box
{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.content-box h1
{
    font-size:medium;
}

.content-box .comp-desc
{   display: flex;
    justify-content: space-between;
    font-style: italic;
    gap:20px;
    font-size:small;
    margin-top:5px;
}

.comp-content ul{
    padding: 10px 20px;
    font-size:15px;
}

.comp-content ul > li
{
    padding-top:12px;
    padding-bottom:12px;
}

.circle{
    position: absolute;
    left: 50%;
    transform: translateX(-37%);
    
    width: 16px;
    height: 16px;
    border-radius: 50%;

    background: var(--line-color);
    box-shadow: 0 0 10px var(--line-color);
}

.content-box{
    margin-left: 40px;
    width: 300px;
    padding: 20px;

    background: rgba(255,255,255,0.05);
    border-radius: 10px;

    color: white;
}

/* Work Highlights */
.Work-Highlights
{
    color : var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 50px;
    margin-bottom: 120px;
}

.Work-Highlights > h2
{
    font-size:45px;
}

.Work-Highlights > h1
{
    font-size:30px;
    align-self: flex-start;
}

.Work-Highlights .work
{   display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: space-between;
}

.Work-Highlights .work > video
{
    flex:3 3;
    width:37%;
    max-width: fit-content;
    height:fit-content;
    max-height:300px;
    border-radius: 5px;

}

.Work-Highlights .work > iframe
{
    flex:3 3;
    width:37%;
    max-width: fit-content;
    height:fit-content;
    max-height:300px;
    border-radius: 5px;

}


.Work-Highlights .work .work-content
{
    flex:9;
    align-items: center;
}

.competencies
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;

}

.competencies  p
{
    font-weight: bold;
    font-size:medium;
    font-family: 'Consolas';
}

.competencies > div
{
    flex:5;
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}

.competencies img
{
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
    object-fit: contain;
}

.work-hr
{
    width: 100%;
    height: 3px;
    background: linear-gradient(to right,transparent, #dddddd, transparent);
    border: none;
    margin: 60px auto;
    
}

.work-content .Redirection
{   
    font-weight: bold;
    font-size:medium;
    font-family: 'Consolas';
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
    margin: 25px 0px;
}
.work-content .Redirection a i
{
    font-size:25px;
    color:var(--link-color);
    transition:125ms;
}

.work-content .Redirection a i:hover
{
    color:var(--link-hover-color);
    /* font-size:xx-large; */
    transform:scale(1.25);
}


.Work-Highlights .other-projects
{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Work-Highlights .other-projects button
{   
    display: flex;
    width:100%;
    height:150px;
    border-radius: 32px;
    border:2px solid var(--link-color);
    background-color: transparent;
    color: var(--text-color);
    font-size:20px;
    font-family: "Baloo Bhaijaan 2", 'sans-serif';;
    flex:8 1;
    flex-wrap: nowrap;
    padding:10px 20px;
    align-items: center;
    gap:10px;
    transform: scale(1);
    transition:250ms;
}

.Work-Highlights .other-projects button:hover
{
    background-color: rgb(215, 255, 192);
    border-color:transparent;
    color:black;
    font-weight: bold;
}

.Work-Highlights .other-projects button:active
{
    transform: scale(0.75);
}

@media(max-width:980px)
{
        
    .Work-Highlights .work
    {
        flex-direction: column-reverse;
    }
    .Work-Highlights .work .work-content
    {
        flex:1;
    }

    .Work-Highlights .work video
    {
        width:50%;
        align-self: center;
    }
    
    .Work-Highlights .work iframe
    {
        width:50%;
        align-self: center;
    }
}


@media(max-width:768px)
{   
    /* NAVBAR */
    nav
    {
        padding:0px 20px;
    }

    nav .right a
    {
        font-size:25px;
        margin: 0px;
    }


    nav .right a:last-child
    {   
        color:var(--link-color);
        background-color:transparent;
        padding:0;
    }

    nav .right a span
    {
        display:none;
    }
    

    /* HERO */
    .hero
    {
        flex-direction: column-reverse;
    }

    .hero .text h2
    {
        font-size: 35px;
    }

    .hero .headshot img
    {
        width:275px;
    }

    /* WORKS */

    .Work-Highlights .work img
    {
        width:60%;
    }

    .Work-Highlights .work video
    {
        width:80%
    }
    
    .Work-Highlights .work iframe
    {
        width:80%
    }
}

@media(max-width: 425px)
{   
    /* NAVBAR */
    nav .right a
    {
        font-size:22px;
        margin: 0px;
    }

    /* HERO */
    nav .left
    {
        font-size:19px;
        font-weight:600;
    }

    .hero .headshot img
    {
        width:240px;
    }

    /* SKILLS */
    .skills .main-cells .cell span
    {
        font-size:small;
    }    
}

@media(max-width:450px)
{   
    /* EXPERIENCE */
    .content-box
    {   
        margin-left: 30px;
        width: 250px;
    }

    .content-box .comp-desc{
        font-size:12px;
    }

}
